# Web Scraping, APIs & Wrappers (US Stocks)

In [4]:
import pandas as pd

In [5]:
pd.read_html("https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average")

[                                                   0  \
 0  Historical logarithmic graph of the DJIA from ...
 1                                         Foundation
 2                                           Operator
 3                                          Exchanges
 4                                     Trading symbol
 5                                       Constituents
 6                                               Type
 7                                         Market cap
 8                                   Weighting method
 9                                            Website

                                                    1
 0  Historical logarithmic graph of the DJIA from ...
 1  February 16, 1885; 138 years ago[1]May 26, 189...
 2                              S&P Dow Jones Indices
 3  .mw-parser-output .plainlist ol,.mw-parser-out...
 4                                  ^DJI$INDU.DJIDJIA
 5                                                 30
 6                                          Large cap
 7            US$10.9 trillion(as of May 31, 2023)[3]
 8                               Price-weighted index
 9  us.spindices.com/indices/equity/dow-jones-indu...  ,
                      Company Exchange Symbol                        Industry  \
 0                         3M     NYSE    MMM                    Conglomerate
 1           American Express     NYSE    AXP              Financial services
 2                      Amgen   NASDAQ   AMGN               Biopharmaceutical
 3                      Apple   NASDAQ   AAPL          Information technology
 4                     Boeing     NYSE     BA           Aerospace and defense
 5                Caterpillar     NYSE    CAT         Construction and mining
 6                    Chevron     NYSE    CVX              Petroleum industry
 7                      Cisco   NASDAQ   CSCO          Information technology
 8                  Coca-Cola     NYSE     KO                  Drink industry
 9                     Disney     NYSE    DIS  Broadcasting and entertainment
 10                       Dow     NYSE    DOW               Chemical industry
 11             Goldman Sachs     NYSE     GS              Financial services
 12                Home Depot     NYSE     HD                Home Improvement
 13                 Honeywell   NASDAQ    HON                    Conglomerate
 14                       IBM     NYSE    IBM          Information technology
 15                     Intel   NASDAQ   INTC          Semiconductor industry
 16         Johnson & Johnson     NYSE    JNJ         Pharmaceutical industry
 17            JPMorgan Chase     NYSE    JPM              Financial services
 18                McDonald's     NYSE    MCD                   Food industry
 19                     Merck     NYSE    MRK         Pharmaceutical industry
 20                 Microsoft   NASDAQ   MSFT          Information technology
 21                      Nike     NYSE    NKE               Clothing industry
 22          Procter & Gamble     NYSE     PG      Fast-moving consumer goods
 23                Salesforce     NYSE    CRM          Information technology
 24                 Travelers     NYSE    TRV                       Insurance
 25        UnitedHealth Group     NYSE    UNH             Managed health care
 26                   Verizon     NYSE     VZ     Telecommunications industry
 27                      Visa     NYSE      V              Financial services
 28  Walgreens Boots Alliance   NASDAQ    WBA                       Retailing
 29                   Walmart     NYSE    WMT                       Retailing

     Date added                                  Notes Index weighting
 0   1976-08-09  As Minnesota Mining and Manufacturing           2.41%
 1   1982-08-30                                    NaN           3.02%
 2   2020-08-31                                    NaN           5.48%
 3   2015-03-19                                    NaN           2.84%
 4   1987-03-12                                    NaN           3.36%
 5   1991-05-06                                    NaN           4.52%
 6   2008-02-19          Also 1930-07-18 to 1999-11-01           3.50%
 7   2009-06-08                                    NaN           0.96%
 8   1987-03-12          Also 1932-05-26 to 1935-11-20           1.22%
 9   1991-05-06                                    NaN           1.89%
 10  1991-05-06                                    NaN           0.98%
 11  2019-04-02                                    NaN           7.36%
 12  1999-11-01                                    NaN           6.27%
 13  2020-08-31             AlliedSignal and Honeywell           4.17%
 14  1979-06-29          Also 1932-05-26 to 1939-03-04           2.86%
 15  1999-11-01                                    NaN           0.57%
 16  1997-03-17                                    NaN           3.43%
 17  1991-05-06                                    NaN           2.61%
 18  1985-10-30                                    NaN           5.24%
 19  1979-06-29                                    NaN           2.10%
 20  1999-11-01                                    NaN           4.88%
 21  2013-09-20                                    NaN           2.13%
 22  1932-05-26                                    NaN           2.86%
 23  2020-08-31                                    NaN           2.82%
 24  2009-06-08                                    NaN           3.62%
 25  2012-09-24                                    NaN          10.29%
 26  2004-04-08                                    NaN           0.73%
 27  2013-09-20                                    NaN           4.16%
 28  2018-06-26                                    NaN           0.79%
 29  1997-03-17                                    NaN           2.94%  ,
      Year  Closing Value Net Change % Change
 0    1896          40.45      −0.49    −1.20
 1    1897          49.41      +8.96   +22.15
 2    1898          60.52     +11.11   +22.49
 3    1899          66.08      +5.56    +9.19
 4    1900          70.71      +4.63    +7.01
 ..    ...            ...        ...      ...
 122  2018       23327.46  −1,391.76    −5.63
 123  2019       28538.44   +5210.98   +22.34
 124  2020       30606.48   +2068.04    +7.25
 125  2021       36338.30   +5731.82   +18.73
 126  2022       33147.25  −3,191.05    −8.78

 [127 rows x 4 columns],
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteComponents of the Dow Jones Industrial Average  \
 0  3M American Express Amgen Apple Boeing Caterpi...

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteComponents of the Dow Jones Industrial Average.1
 0  3M American Express Amgen Apple Boeing Caterpi...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ,
   vteMajor North and South American stock market indices  \
 0                                      United States
 1                                             Canada
 2                                             Mexico
 3                                           Colombia
 4                                             Brazil
 5                                              Chile
 6                                          Argentina
 7                                               Peru

   vteMajor North and South American stock market indices.1
 0  Dow Jones Industrial Average Dow Jones Transpo...
 1                 S&P/TSX 60 S&P/TSX Composite Index
 2                   Indice de Precios y Cotizaciones
 3  COLCAP Indice General de la Bolsa de Valores d...
 4                                     Índice Bovespa
 5             Índice de Precio Selectivo de Acciones
 6                                             MERVAL
 7                         S&P/BVL Peru General Index        ,
                                          vteNews Corp  \
 0                     Sister company: Fox Corporation
 1   vteDow Jones & CompanyNational consumer produc...
 2                              vteDow Jones & Company
 3                          National consumer products
 4                                 Enterprise products
 ..                                                ...
 59                                              Radio
 60                              Wireless Group (2016)
 61                                         Television
 62                                       Other assets
 63        See also: 21st Century Fox News Corporation

                                        vteNews Corp.1 Unnamed: 2
 0                     Sister company: Fox Corporation        NaN
 1   vteDow Jones & CompanyNational consumer produc...        NaN
 2                              vteDow Jones & Company        NaN
 3   Barron's Financial News Investor's Business Da...        NaN
 4                Factiva S&P Dow Jones Indices (2.6%)        NaN
 ..                                                ...        ...
 59  Wireless Group (2016) TalkRadio Talksport Time...        NaN
 60    TalkRadio Talksport Times Radio Virgin Radio UK        NaN
 61                                      TalkTV (2022)        NaN
 62  Move Realtor.com New York Post News America Ma...        NaN
 63        See also: 21st Century Fox News Corporation        NaN

 [64 rows x 3 columns],
        vteDow Jones & Company  \
 0  National consumer products
 1         Enterprise products

                             vteDow Jones & Company.1
 0  Barron's Financial News Investor's Business Da...
 1               Factiva S&P Dow Jones Indices (2.6%)  ,
   vteHarperCollins                                 vteHarperCollins.1
 0    United States  Avon Caedmon Ecco Harper Harper Perennial I Ca...
 1   United Kingdom  William Collins, Sons Collins Bartholomew The ...
 2        Australia                                  Angus & Robertson
 3        Christian  BibleGateway.com Thomas Nelson Women of Faith ...
 4           Canada           Harlequin Enterprises Love Inspired Mira,
                                vteNews Corp Australia  \
 0                                          Newspapers
 1                                        Metropolitan
 2                                            Regional
 3                                          Queensland
 4                                               Other
 5   vteNews Corp Australia community newspapersNew...
 6         vteNews Corp Australia community newspapers
 7                                     NewsLocal (NSW)
 8                                      Messenger (SA)
 9                                         Quest (Qld)
 10                                           Victoria
 11                                         Television
 12                              vteSky News Australia
 13                                           Channels
 14                                             Active
 15                                            Defunct
 16                                         Presenters
 17                                            Current
 18                                             Former
 19                                        Programming
 20                  vteSky News Australia programming
 21                                            Current
 22                                            Daytime
 23                                          Primetime
 24                                             Former
 25                                            Daytime
 26                                          Primetime
 27                                          vteFoxtel
 28                                           Channels
 29                                         Fox Sports
 30                                     Joint ventures
 31                                   Defunct channels
 32                                          Streaming
 33                                          Magazines
 34                                              Other
 35                                     Formerholdings

                              vteNews Corp Australia.1
 0   Metropolitan The Australian Daily Telegraph (S...
 1   The Australian Daily Telegraph (Sydney) Sunday...
 2   Queensland Balonne Beacon Bowen Independent Th...
 3   Balonne Beacon Bowen Independent The Cairns Po...
 4   The Coffs Coast Advocate The Daily Examiner Ge...
 5   vteNews Corp Australia community newspapersNew...
 6         vteNews Corp Australia community newspapers
 7   Manly Daily North Shore Times Northern Distric...
 8   News Review Leader Standard Eastern Courier Ea...
 9                       South-West News Southern Star
 10                        Leader Community Newspapers
 11  vteSky News AustraliaChannelsActive Sky News L...
 12                              vteSky News Australia
 13  Active Sky News Live Sky News Extra Sky News W...
 14  Sky News Live Sky News Extra Sky News Weather ...
 15  Sky News Business Channel Sky News Election Ch...
 16  Current Kieran Gilbert Ashleigh Gillon Vanessa...
 17  Kieran Gilbert Ashleigh Gillon Vanessa Grimm S...
 18  Samantha Armytage Helen Dalley Georgie Gardner...
 19  vteSky News Australia programmingCurrentDaytim...
 20                  vteSky News Australia programming
 21  Daytime Agenda First Edition Weekend Outsiders...
 22             Agenda First Edition Weekend Outsiders
 23           Credlin Paul Murray Live The Bolt Report
 24  Daytime Keneally and Cameron PVO NewsDay Pyne ...
 25  Keneally and Cameron PVO NewsDay Pyne & Marles...
 26  Credlin Keneally Friday Live Hinch Live Hadley...
 27                                          vteFoxtel
 28  Fox One Fox Arena Lifestyle Fox8 Fox Comedy Fo...
 29   Fox Cricket Fox Footy Fox League Fox Sports News
 30                 NickMusic (35%) Main Event (66.6%)
 31  Bio. Channel [V] Fox Footy Channel Fox Funny F...
 32  Streamotion BINGE Flash Kayo Sports WatchAFL W...
 33            Big League GQ Australia Vogue Australia
 34  ARN Media (15%) Brisbane Broncos (69%) Foxtel ...
 35  Australian Associated Press (47%) ADS (Adelaid...  ,
                                                    0  \
 0                                       Metropolitan
 1                                           Regional
 2                                         Queensland
 3                                              Other
 4  vteNews Corp Australia community newspapersNew...
 5        vteNews Corp Australia community newspapers
 6                                    NewsLocal (NSW)
 7                                     Messenger (SA)
 8                                        Quest (Qld)
 9                                           Victoria

                                                    1
 0  The Australian Daily Telegraph (Sydney) Sunday...
 1  Queensland Balonne Beacon Bowen Independent Th...
 2  Balonne Beacon Bowen Independent The Cairns Po...
 3  The Coffs Coast Advocate The Daily Examiner Ge...
 4  vteNews Corp Australia community newspapersNew...
 5        vteNews Corp Australia community newspapers
 6  Manly Daily North Shore Times Northern Distric...
 7  News Review Leader Standard Eastern Courier Ea...
 8                      South-West News Southern Star
 9                        Leader Community Newspapers  ,
             0                                                  1
 0  Queensland  Balonne Beacon Bowen Independent The Cairns Po...
 1       Other  The Coffs Coast Advocate The Daily Examiner Ge...,
   vteNews Corp Australia community newspapers  \
 0                             NewsLocal (NSW)
 1                              Messenger (SA)
 2                                 Quest (Qld)
 3                                    Victoria

        vteNews Corp Australia community newspapers.1
 0  Manly Daily North Shore Times Northern Distric...
 1  News Review Leader Standard Eastern Courier Ea...
 2                      South-West News Southern Star
 3                        Leader Community Newspapers  ,
                 vteSky News Australia  \
 0                            Channels
 1                              Active
 2                             Defunct
 3                          Presenters
 4                             Current
 5                              Former
 6                         Programming
 7   vteSky News Australia programming
 8                             Current
 9                             Daytime
 10                          Primetime
 11                             Former
 12                            Daytime
 13                          Primetime

                               vteSky News Australia.1
 0   Active Sky News Live Sky News Extra Sky News W...
 1   Sky News Live Sky News Extra Sky News Weather ...
 2   Sky News Business Channel Sky News Election Ch...
 3   Current Kieran Gilbert Ashleigh Gillon Vanessa...
 4   Kieran Gilbert Ashleigh Gillon Vanessa Grimm S...
 5   Samantha Armytage Helen Dalley Georgie Gardner...
 6   vteSky News Australia programmingCurrentDaytim...
 7                   vteSky News Australia programming
 8   Daytime Agenda First Edition Weekend Outsiders...
 9              Agenda First Edition Weekend Outsiders
 10           Credlin Paul Murray Live The Bolt Report
 11  Daytime Keneally and Cameron PVO NewsDay Pyne ...
 12  Keneally and Cameron PVO NewsDay Pyne & Marles...
 13  Credlin Keneally Friday Live Hinch Live Hadley...  ,
          0                                                  1
 0   Active  Sky News Live Sky News Extra Sky News Weather ...
 1  Defunct  Sky News Business Channel Sky News Election Ch...,
          0                                                  1
 0  Current  Kieran Gilbert Ashleigh Gillon Vanessa Grimm S...
 1   Former  Samantha Armytage Helen Dalley Georgie Gardner...,

Let's pull the data for constituents and drop some columns to work with a more solid data frame.

In [6]:
const = pd.read_html("https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average")[1]

In [7]:
const

,Company,Exchange,Symbol,Industry,Date added,Notes,Index weighting
0,3M,NYSE,MMM,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,2.41%
1,American Express,NYSE,AXP,Financial services,1982-08-30,NaN,3.02%
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,NaN,5.48%
3,Apple,NASDAQ,AAPL,Information technology,2015-03-19,NaN,2.84%
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,NaN,3.36%
5,Caterpillar,NYSE,CAT,Construction and mining,1991-05-06,NaN,4.52%
6,Chevron,NYSE,CVX,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,3.50%
7,Cisco,NASDAQ,CSCO,Information technology,2009-06-08,NaN,0.96%
8,Coca-Cola,NYSE,KO,Drink industry,1987-03-12,Also 1932-05-26 to 1935-11-20,1.22%
9,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06,NaN,1.89%
10,Dow,NYSE,DOW,Chemical industry,1991-05-06,NaN,0.98%
11,Goldman Sachs,NYSE,GS,Financial services,2019-04-02,NaN,7.36%
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01,NaN,6.27%
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,AlliedSignal and Honeywell,4.17%
14,IBM,NYSE,IBM,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,2.86%
15,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01,NaN,0.57%
16,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,NaN,3.43%
17,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,NaN,2.61%
18,McDonald's,NYSE,MCD,Food industry,1985-10-30,NaN,5.24%
19,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29,NaN,2.10%
20,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,NaN,4.88%
21,Nike,NYSE,NKE,Clothing industry,2013-09-20,NaN,2.13%
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,NaN,2.86%
23,Salesforce,NYSE,CRM,Information technology,2020-08-31,NaN,2.82%
24,Travelers,NYSE,TRV,Insurance,2009-06-08,NaN,3.62%
25,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24,NaN,10.29%
26,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08,NaN,0.73%
27,Visa,NYSE,V,Financial services,2013-09-20,NaN,4.16%
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26,NaN,0.79%
29,Walmart,NYSE,WMT,Retailing,1997-03-17,NaN,2.94%

In [8]:
const = const.iloc[:, :5].copy()
const

,Company,Exchange,Symbol,Industry,Date added
0,3M,NYSE,MMM,Conglomerate,1976-08-09
1,American Express,NYSE,AXP,Financial services,1982-08-30
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31
3,Apple,NASDAQ,AAPL,Information technology,2015-03-19
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12
5,Caterpillar,NYSE,CAT,Construction and mining,1991-05-06
6,Chevron,NYSE,CVX,Petroleum industry,2008-02-19
7,Cisco,NASDAQ,CSCO,Information technology,2009-06-08
8,Coca-Cola,NYSE,KO,Drink industry,1987-03-12
9,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06
10,Dow,NYSE,DOW,Chemical industry,1991-05-06
11,Goldman Sachs,NYSE,GS,Financial services,2019-04-02
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31
14,IBM,NYSE,IBM,Information technology,1979-06-29
15,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01
16,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17
17,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06
18,McDonald's,NYSE,MCD,Food industry,1985-10-30
19,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29
20,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01
21,Nike,NYSE,NKE,Clothing industry,2013-09-20
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26
23,Salesforce,NYSE,CRM,Information technology,2020-08-31
24,Travelers,NYSE,TRV,Insurance,2009-06-08
25,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24
26,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08
27,Visa,NYSE,V,Financial services,2013-09-20
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26
29,Walmart,NYSE,WMT,Retailing,1997-03-17

White space in the column name is not a good idea. Let's add underscore. Lastlt, for the data columns, let's change the type to datatime.

In [9]:
const.rename(columns={"Date added": "Date_Added"},inplace=True)

In [10]:
const.Date_Added = pd.to_datetime(const.Date_Added)

In [11]:
const.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     30 non-null     object
 1   Exchange    30 non-null     object
 2   Symbol      30 non-null     object
 3   Industry    30 non-null     object
 4   Date_Added  30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

### Let's Normalize Unicode Strings and Get the Ticker Symbols

The problem stemmed from the data coming originally from a html file. We should encode and normalize unicode strings into a normal form.

In [12]:
import unicodedata

In [13]:
const.Symbol

0      MMM
1      AXP
2     AMGN
3     AAPL
4       BA
5      CAT
6      CVX
7     CSCO
8       KO
9      DIS
10     DOW
11      GS
12      HD
13     HON
14     IBM
15    INTC
16     JNJ
17     JPM
18     MCD
19     MRK
20    MSFT
21     NKE
22      PG
23     CRM
24     TRV
25     UNH
26      VZ
27       V
28     WBA
29     WMT
Name: Symbol, dtype: object

In [14]:
const.Symbol.to_list()

['MMM',
 'AXP',
 'AMGN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DIS',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'CRM',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WBA',
 'WMT']

In [15]:
const.Symbol.apply(lambda x: unicodedata.normalize("NFKD", x))

0      MMM
1      AXP
2     AMGN
3     AAPL
4       BA
5      CAT
6      CVX
7     CSCO
8       KO
9      DIS
10     DOW
11      GS
12      HD
13     HON
14     IBM
15    INTC
16     JNJ
17     JPM
18     MCD
19     MRK
20    MSFT
21     NKE
22      PG
23     CRM
24     TRV
25     UNH
26      VZ
27       V
28     WBA
29     WMT
Name: Symbol, dtype: object

In [16]:
const.Symbol = const.Symbol.apply(lambda x: unicodedata.normalize("NFKD", x))

In [17]:
const["Ticker"] = const.Symbol.str.split(": ").apply(lambda x: x[-1])

In [18]:
const

,Company,Exchange,Symbol,Industry,Date_Added,Ticker
0,3M,NYSE,MMM,Conglomerate,1976-08-09,MMM
1,American Express,NYSE,AXP,Financial services,1982-08-30,AXP
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,AMGN
3,Apple,NASDAQ,AAPL,Information technology,2015-03-19,AAPL
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,BA
5,Caterpillar,NYSE,CAT,Construction and mining,1991-05-06,CAT
6,Chevron,NYSE,CVX,Petroleum industry,2008-02-19,CVX
7,Cisco,NASDAQ,CSCO,Information technology,2009-06-08,CSCO
8,Coca-Cola,NYSE,KO,Drink industry,1987-03-12,KO
9,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06,DIS
10,Dow,NYSE,DOW,Chemical industry,1991-05-06,DOW
11,Goldman Sachs,NYSE,GS,Financial services,2019-04-02,GS
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01,HD
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,HON
14,IBM,NYSE,IBM,Information technology,1979-06-29,IBM
15,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01,INTC
16,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,JNJ
17,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,JPM
18,McDonald's,NYSE,MCD,Food industry,1985-10-30,MCD
19,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29,MRK
20,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,MSFT
21,Nike,NYSE,NKE,Clothing industry,2013-09-20,NKE
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,PG
23,Salesforce,NYSE,CRM,Information technology,2020-08-31,CRM
24,Travelers,NYSE,TRV,Insurance,2009-06-08,TRV
25,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24,UNH
26,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08,VZ
27,Visa,NYSE,V,Financial services,2013-09-20,V
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26,WBA
29,Walmart,NYSE,WMT,Retailing,1997-03-17,WMT

In [19]:
ticker_list = const.Ticker.to_list()

In [20]:
ticker_list

['MMM',
 'AXP',
 'AMGN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DIS',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'CRM',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WBA',
 'WMT']

In [21]:
const.to_csv("const.csv", index = False)

### Let's Load and Save Historical Stock Prices

Let's import proper libraries. We will pull data from Yahoo so we need to yfinance package.

In [22]:
import pandas as pd
import yfinance as yf

In [23]:
ticker_list

['MMM',
 'AXP',
 'AMGN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DIS',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'CRM',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WBA',
 'WMT']

In [24]:
prices = yf.download(ticker_list, start = "2007-01-01", end = "2020-03-31")

[*********************100%%**********************]  30 of 30 completed

In [25]:
prices

            Adj Close                                                 \
                 AAPL        AMGN        AXP          BA         CAT
Date
2007-01-03   2.540326   49.945023  46.491989   64.405701   38.978703
2007-01-04   2.596711   52.084480  46.153095   64.665741   38.876743
2007-01-05   2.578219   52.208622  45.544598   64.391281   38.379635
2007-01-08   2.590951   51.792397  45.975929   64.239609   38.424240
2007-01-09   2.806182   52.040661  45.683250   63.560661   38.634544
...               ...         ...        ...         ...         ...
2020-03-24  60.351715  181.626419  80.007401  127.680000   93.388733
2020-03-25  60.019253  173.368225  85.833046  158.729996   96.457458
2020-03-26  63.177650  178.170563  88.802979  180.550003  101.830009
2020-03-27  60.561943  177.973083  84.462318  162.000000   97.167046
2020-03-30  62.290264  187.137878  85.928238  152.279999  102.945084

                                                                     ...  \
                   CRM       CSCO        CVX         DIS        DOW  ...
Date                                                                 ...
2007-01-03    9.017500  19.244236  37.490078   28.317099        NaN  ...
2007-01-04    9.470000  19.750835  37.125599   28.540653        NaN  ...
2007-01-05    9.880000  19.757782  37.268211   28.308819        NaN  ...
2007-01-08    9.982500  19.868814  37.743645   28.565491        NaN  ...
2007-01-09    9.990000  19.757782  37.310486   28.524088        NaN  ...
...                ...        ...        ...         ...        ...  ...
2020-03-24  153.639999  34.604519  56.819138   98.120003  24.129770  ...
2020-03-25  147.059998  33.770775  59.141415  100.730003  25.748594  ...
2020-03-26  154.729996  36.379566  65.211800  105.360001  25.155308  ...
2020-03-27  146.000000  34.801735  58.723064   96.400002  24.206051  ...
2020-03-30  149.850006  36.146481  61.429558   99.800003  24.282333  ...

              Volume                                                   \
                 MRK      MSFT       NKE        PG      TRV       UNH
Date
2007-01-03  15740226  76935100  17299200   9717900  3432800   8360300
2007-01-04  13115930  45774500  15085600   8711400  2068200   5152500
2007-01-05  11168431  44607200  14996800   9907900  2104600   6215700
2007-01-08   7384522  50220200  10109600  11068200  2440900   4344100
2007-01-09   9037114  44636600  15167200  10823800  1319500   5483900
...              ...       ...       ...       ...      ...       ...
2020-03-24  19901939  82516700  18849500  14625500  4293300   8894400
2020-03-25  18311494  75638200  27053200  13789100  4151400  10014000
2020-03-26  18052848  64568100  17200800  15796000  4610600   7517600
2020-03-27  12467218  57042300  14183400  16073100  3085400   4879500
2020-03-30  15803316  63420300  10960100  14571600  2733700   5329000


                     V        VZ       WBA       WMT
Date
2007-01-03         NaN  21445850   6294500  35687300
2007-01-04         NaN  19215860   3681800  17073000
2007-01-05         NaN  19047041   3680900  13556900
2007-01-08         NaN  20370917   4720800  16396400
2007-01-09         NaN  16281352   3792500  14643200
...                ...       ...       ...       ...
2020-03-24  24488300.0  40626900   9638400  14235000
2020-03-25  20619600.0  38551300  11040500  17762500
2020-03-26  17062900.0  32610900  11095700  19416900
2020-03-27  14950700.0  25363600   5898000  12053500
2020-03-30  15714500.0  20660200   7114900   9737500

[3333 rows x 180 columns]

In [26]:
prices = prices.loc[:,"Close"].copy()

In [27]:
prices

,AAPL,AMGN,AXP,BA,CAT,CRM,CSCO,CVX,DIS,DOW,...,MRK,MSFT,NKE,PG,TRV,UNH,V,VZ,WBA,WMT
Date,,,,,,,,,,,,,,,,,,,,,
2007-01-03,2.992857,68.400002,60.360001,89.169998,61.160000,9.017500,27.730000,70.970001,33.738300,NaN,...,42.003819,29.860001,12.208750,64.540001,53.549999,52.570000,NaN,35.306732,46.070000,47.549999
2007-01-04,3.059286,71.330002,59.919998,89.529999,61.000000,9.470000,28.459999,70.279999,34.004654,NaN,...,43.043892,29.809999,12.333750,64.050003,53.099998,52.910000,NaN,35.502777,46.160000,47.779999
2007-01-05,3.037500,71.500000,59.130001,89.150002,60.220001,9.880000,28.469999,70.550003,33.728436,NaN,...,42.270992,29.639999,12.353750,63.500000,52.410000,52.549999,NaN,34.895969,45.500000,47.389999
2007-01-08,3.052500,70.930000,59.689999,88.940002,60.290001,9.982500,28.629999,71.449997,34.034248,NaN,...,42.261452,29.930000,12.316250,63.639999,52.020000,53.320000,NaN,34.363850,45.689999,47.000000
2007-01-09,3.306071,71.269997,59.310001,88.000000,60.619999,9.990000,28.469999,70.629997,33.984924,NaN,...,41.870228,29.959999,12.470000,63.480000,51.889999,52.680000,NaN,34.503880,45.930000,47.389999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-24,61.720001,202.339996,84.050003,127.680000,101.339996,153.639999,38.599998,66.550003,98.120003,28.469999,...,65.887405,148.339996,72.330002,103.269997,93.739998,219.800003,154.529999,49.990002,45.250000,115.029999
2020-03-25,61.380001,193.139999,90.169998,158.729996,104.669998,147.059998,37.669998,69.269997,100.730003,30.379999,...,65.095421,146.919998,79.010002,100.919998,92.180000,234.490005,161.779999,49.939999,41.439999,109.400002
2020-03-26,64.610001,198.490005,93.290001,180.550003,110.500000,154.729996,40.580002,76.379997,105.360001,29.680000,...,70.162216,156.110001,84.300003,107.379997,98.669998,255.389999,168.880005,53.540001,45.669998,109.820000
2020-03-27,61.935001,198.270004,88.730003,162.000000,105.440002,146.000000,38.820000,68.779999,96.400002,28.559999,...,68.444656,149.699997,83.230003,110.169998,99.949997,242.449997,161.559998,52.770000,44.000000,109.580002
2020-03-30,63.702499,208.479996,90.269997,152.279999,111.709999,149.850006,40.320000,71.949997,99.800003,28.650000,...,73.425575,160.229996,85.379997,115.000000,102.589996,251.279999,165.570007,54.770000,45.160000,115.190002

In [28]:
prices.to_csv("const_prices.csv")

Let's download the Dow Jones Index.

In [29]:
dji = yf.download("^DJI", start = "2007-01-01",  end = "2020-03-31")

[*********************100%%**********************]  1 of 1 completed

In [30]:
dji

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2007-01-03,12459.540039,12580.349609,12404.820312,12474.519531,12474.519531,327200000
2007-01-04,12473.160156,12510.410156,12403.860352,12480.690430,12480.690430,259060000
2007-01-05,12480.049805,12480.129883,12365.410156,12398.009766,12398.009766,235220000
2007-01-08,12392.009766,12445.919922,12337.370117,12423.490234,12423.490234,223500000
2007-01-09,12424.769531,12466.429688,12369.169922,12416.599609,12416.599609,225190000
...,...,...,...,...,...,...
2020-03-24,19722.189453,20737.699219,19649.250000,20704.910156,20704.910156,799340000
2020-03-25,21050.339844,22019.929688,20538.339844,21200.550781,21200.550781,796320000
2020-03-26,21468.380859,22595.060547,21427.099609,22552.169922,22552.169922,705180000
2020-03-27,21898.470703,22327.570312,21469.269531,21636.779297,21636.779297,588830000
2020-03-30,21678.220703,22378.089844,21522.080078,22327.480469,22327.480469,545540000

In [31]:
dji.to_csv("dji.csv")